<div>
    <mat-form-field>
        <input matInput placeholder="Nombres" [(ngModel)]="paciente.nombres" required>           

    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Apellidos" [(ngModel)]="paciente.apellidos" required>  
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="DNI" [(ngModel)]="paciente.dni" required>  
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Telefono" [(ngModel)]="paciente.telefono" required minlength="9">  
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Direccion" [(ngModel)]="paciente.direccion" required minlength="3">  
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Email" [(ngModel)]="paciente.email" required>  
    </mat-form-field>
</div>
<button mat-raised-button color="primary" (click)="operar()">Aceptar</button>
<button mat-raised-button color="accent" (click)="cerrar()">Cancelar</button>